.our-story {
    margin: 0 300px 0 300px;
    padding: 20px 0 20px 0;
}

.our-story h1 {
    text-align: center;
}

.our-story Text {
    text-align: justify;
}

.experience {
    text-align: center;
}